chroma_db/1c745aaf-ade6-45c5-ba46-794844e041d7 filter=lfs diff=lfs merge=lfs -text
chroma_db/2b69eacb-e785-4886-b0e8-6e45b7d9d463 filter=lfs diff=lfs merge=lfs -text
chroma_db/3acd1b57-221c-4f4f-a3b5-836944c70de1 filter=lfs diff=lfs merge=lfs -text
chroma_db/74f3842e-06a6-4077-8a13-501b40304953 filter=lfs diff=lfs merge=lfs -text
chroma_db/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
chroma_db/1c745aaf-ade6-45c5-ba46-794844e041d7/data_level0.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/3acd1b57-221c-4f4f-a3b5-836944c70de1/length.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/74f3842e-06a6-4077-8a13-501b40304953/link_lists.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/3acd1b57-221c-4f4f-a3b5-836944c70de1/link_lists.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/1c745aaf-ade6-45c5-ba46-794844e041d7/length.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/1c745aaf-ade6-45c5-ba46-794844e041d7/link_lists.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/2b69eacb-e785-4886-b0e8-6e45b7d9d463/data_level0.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/2b69eacb-e785-4886-b0e8-6e45b7d9d463/length.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/3acd1b57-221c-4f4f-a3b5-836944c70de1/data_level0.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/3acd1b57-221c-4f4f-a3b5-836944c70de1/header.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/3acd1b57-221c-4f4f-a3b5-836944c70de1/index_metadata.pickle filter=lfs diff=lfs merge=lfs -text
chroma_db/74f3842e-06a6-4077-8a13-501b40304953/index_metadata.pickle filter=lfs diff=lfs merge=lfs -text
chroma_db/74f3842e-06a6-4077-8a13-501b40304953/length.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/2b69eacb-e785-4886-b0e8-6e45b7d9d463/header.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/74f3842e-06a6-4077-8a13-501b40304953/data_level0.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/1c745aaf-ade6-45c5-ba46-794844e041d7/header.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/2b69eacb-e785-4886-b0e8-6e45b7d9d463/link_lists.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/74f3842e-06a6-4077-8a13-501b40304953/header.bin filter=lfs diff=lfs merge=lfs -text
eval_log_exhaustive_k_50.txt filter=lfs diff=lfs merge=lfs -text
eval_log_only_combined_k_600.txt filter=lfs diff=lfs merge=lfs -text
evaluation/eval_result_context_from_2024-12-12_02-13-43_k_50.pickle filter=lfs diff=lfs merge=lfs -text
evaluation/checkpoints filter=lfs diff=lfs merge=lfs -text
evaluation/eval_gen_dataset_k_1000.json filter=lfs diff=lfs merge=lfs -text
evaluation/eval_result_base_2024-12-12_02-13-43_k_50.pickle filter=lfs diff=lfs merge=lfs -text
evaluation/eval_result_context_date_2024-12-12_02-13-43_k_50.pickle filter=lfs diff=lfs merge=lfs -text
evaluation/eval_gen_dataset_k_100.json filter=lfs diff=lfs merge=lfs -text
evaluation/eval_gen_dataset_k_50.json filter=lfs diff=lfs merge=lfs -text
evaluation/eval_result_context_combined_2024-12-12_02-13-43_k_50.pickle filter=lfs diff=lfs merge=lfs -text
evaluation/eval_result_context_combined_k_1000.pickle filter=lfs diff=lfs merge=lfs -text
evaluation/checkpoints/300_of_690.pickle filter=lfs diff=lfs merge=lfs -text
poetry.lock filter=lfs diff=lfs merge=lfs -text
